{% extends "layout.html" %}
{% block content %}
<h1>📚 Book list</h1>
<style>
    .book-grid {
        display: grid;
        margin-right: 30px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .book-card {
        width: 250px;
        height: 350px;
        background-color: #fffbf6;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid rgb(0, 0, 0);
    }

    .book-card img {
        width: 200px;
        height: auto;
        max-height: 300px;
        object-fit: cover;
        /* Use 'contain' if you want to keep full image without cropping */
        margin-bottom: 0px;
    }
</style>
{% if error %}
<p style="color:red;">ERROR: {{ error }}</p>
{% endif %}

{% if books %}
<div class="main">
    <div class="book-grid">
        {% for book in books %}
        <div class="book-card">
            <a href="{{ url_for('book_detail', book_id=book.BOOKID) }}">
                <img src="{{ book.BOOKIMAGE }}" alt="Book {{ book.BOOKID }}">
                <div>{{ book.BOOKNAME }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>No Data</p>
{% endif %}

{% endblock %}